Debug1
bin
~$*
obj
.vs
packages
FileSigs_*
*~
.idea
*.user
*.DotSettings
TestResults
nlog.txt
TestResult.xml
/Backup
*.sln.bak
/UpgradeLog.htm
/Docs/Help/LastBuild.log
*.chm
*.msha
*.mshc
/Output-Build.txt
/Docs/Help
/msbuild.log.old
/src/KayMcCormick.Dev/Debug
/src/KayMcCormick.Dev/Desktop/StaticLib1/Debug
/src/KayMcCormick.Dev/Desktop/StaticLib1/Release
/src/KayMcCormick.Dev/Desktop/StaticLib1/x64/Debug/StaticLib1.tlog
/src/KayMcCormick.Dev/Desktop/StaticLib1/x64/Debug
/src/KayMcCormick.Dev/Desktop/StaticLib1/x64/Release
/src/KayMcCormick.Dev/Docs/Help/LastBuild.log
/src/KayMcCormick.Dev/MigrationBackup/64c14354/Services/LogService
/src/KayMcCormick.Dev/Services/WcfService1/WcfService1/Web.Debug.config
/src/KayMcCormick.Dev/Services/WcfService1/WcfService1/Web.Release.config
/src/KayMcCormick.Dev/Services/WcfService1/msbuild.log
/src/KayMcCormick.Dev/x64/Debug
/src/KayMcCormick.Dev/x64/Release
/src/KayMcCormick.Dev/Desktop/WpfApp/html/M-Tests.Lib.Fixtures.FixtureLogger.LogFixtureLifecycleEvent.htm
/src/KayMcCormick.Dev/CommandLine/src/CommandLine
/build
/src/KayMcCormick.Dev/Docs/Help/fti
/src/KayMcCormick.Dev/Docs/Help/html
/src/KayMcCormick.Dev/Docs/Help/toc
/src/KayMcCormick.Dev/Docs/Help
/src/KayMcCormick.Dev/zzzz
/test/Debug/x86/ProjTests
/test/Debug/x86/Tests
/build.old/test/Debug/x86/Tests
/build.old
/src/KayMcCormick.Dev/CompatLib1/CompatLib1.vcxproj.filters
/third-party/IronPython
/src/xaml
